body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.screen {
    padding: 15px;
    background-color: #333;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 20px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #666;
    color: white;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #444;
}

button:active {
    background-color: #222;
}